body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 1em 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}
nav a:hover {
    background-color: #4CAF50;
    color: white;
}
.container {
    padding: 20px;
}
.content {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}
.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.info, .achievements, .projects, .skills, .interests, .contact {
    margin-bottom: 40px;
}
h2 {
    color: #4CAF50;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
}
ul {
    list-style-type: square;
    padding-left: 20px;
}
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
form {
    display: flex;
    flex-direction: column;
}
form label {
    margin-bottom: 5px;
    font-weight: bold;
}
form input, form textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
form input[type="submit"]:hover {
    background-color: #45a049;
}
